html {
    font-family: 'Ubuntu', sans-serif, monospace;
}

body body div nav, header, footer, main  {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}

footer {
    
}


.wrapper {
  display: flex;
  flex-flow: row wrap;
}



/* We tell all items to be 100% width, via flex-basis */
.wrapper > * {
  flex: 1 100%;
}




/* Medium screens */
@media all and (min-width: 600px) {
  /* We tell both sidebars to share a row */
  .aside { flex: 1 auto; }
}

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  .main { flex: 2 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}







/*================Navigation Menu May need to work on cascade ==*/
/*

nav {
    margin: 10px;
    padding: 10px;
    width:100%;
    background-color: #333;
    overflow: hidden;
    box-shadow: 3px 3px 5px grey;
    top: 0;
}


.webnav  {
    display: flex;
    padding: 10px;
}


.webnav a {
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: #ccffff;
}

.right {
    flex-direction: row;
    align-self: flex-start;
    justify-items: flex-end;
    justify-self:flex-end;
    float: right;
    justify-content:flex-end;

}
.left {
    flex:align-content: 
}

div.webnav a:hover {
    background-color: #18b86e;
    color:#ccffff;
    box-shadow: 1px 1px 1px grey;
    border-radius: 50px;
}


div.webnav a:active {
    background-color: #7d0dd9;
    color:#e6ffff;
    box-shadow: 1px 1px 1px blue;
    border-radius: 50px;
}


.dropDown {
    display: none;
}
*/

/*================Main Body for web page ===================*/
h1,h2,p {
    color:darkslategrey;
    font-size-adjust:auto;
    line-height: 1rem;
    text-decoration-line: none;
}

.main_block {
    display: flex;
    width: 100%;
    margin: 0;
    padding-bottom: 4%;
    border: 1px 1px solid black;
    align-content: center;

}


h1 {
    font-size: 2em;
}

.mainpage {
    background-image: url(images/minimal_building_small.jpg);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*--------------------- Web Footer ---------------------*/

/*
footer {
    margin: 0;
    padding: 0;
    width:100%;
    background-color: #333;
    overflow: hidden;
    box-shadow: 3px -3px 5px grey;
        position: fixed;
    bottom: 0;
}

*/


/*

.footer {
    display: flex;
    flex-grow: 4;
    margin: 0;
    padding: 0;
}


.copyright {
    display: flex;
    font-size: 0.8rem;
    flex-basis: auto;
    float:left;
    padding: 5px;
    margin: 5px;    
}

.right-footer {
    margin-left:auto;
    margin-top: auto;
    margin-bottom: auto;

}

.right-footer a {
    margin: auto;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: #ccffff;
}
*/

#section-1-gradient {
    background: #076DFF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#076DFF, #60E9DF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#076DFF, #65a5ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#076DFF, #65a5ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#076DFF, #65a5ff); /* Standard syntax */
    opacity:90%;
}


/*

.youtube {
    align-self: center;
    margin: 0;
    padding: 0;
}
*/

/*
--------------------- Mobile Responsive --------------

@media screen and (max-width: 680px) {

    .dropDown {
        display: flex;
    }

    .webnav.left .webnav.right {
        display: none;
    }

}*/
