html{
    font-family: 'Ubuntu', monospace;
    display: block;
}

body {
    display:block;
    margin:0;
    padding: 0;
    line-height: 1;
    background-color: transparent;
    border: none;
}


h1 {

    margin: auto;
    padding: auto;
    font-size: 10rem;
    text-shadow: 2px 5px 10px grey;
    text-align: center;
    align-items: center;
    font-size-adjust: auto;
    line-height: 1;
}

img.crossed {
    text-shadow: 2px 5px 10px white;
    color: red;
    font-stretch: expanded;
    align-content: center;
    margin: auto;
    
/*    opacity: 50%;*/
}

/*------------------------------------------------------------*/

.winbox , .gamebox {
    height: 512px;
    width: 512px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);;
    grid-template-rows: none;
    /*    border: 4px dashed blue;*/
    margin: 0;
    padding: 0;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background: blue;
    grid-gap: 10px;
    max-width: 100%;
    max-height: 100%;

}

.winbox {
    z-index: -1;
}

.gamebox {
    z-index: 0;
}


.box {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    /*    border: 1px dashed blue;*/
    background-color: papayawhip;
    background-image: radial-gradient(white, snow,papayawhip);
    box-shadow: 1px 1px 1px grey;
    border-radius: 5px;
}

.box:active {
    transform: translate(3px,3px);
}

/*------------------------------------------------------------*/

.button-group {
    width:512px;
    display: grid;
    /*
    grid-template-rows: 1;
    grid-template-columns: 2;
    */
    /*    border: 1px dashed blue;*/
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 520px;


}

.cancel{
    grid-row: 1;
    grid-column:2;

}
.reset {
    grid-row: 1;
    grid-column:1;
}
.reset,.cancel {
    display: block;
    font-size: 2rem;
    border: 1px solid rgba(255,255,255,0.90);
    width:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px rgba(128,128,128,0.90);
    border-radius: 10px;
    text-shadow: none;
    font-family: monospace;
    font-size-adjust: auto; 

}

button:active {
    transform: translate(3px,3px);

}

* {
    box-sizing: border-box;
}


/*------------------Win Screens----------------------*/
.winbox {
    border: 4px solid green;
    background: none;



}

#row-1 {
    grid-row: 1;
}

#row-2 {
    grid-row: 2;
}

#row-3 {
    grid-row: 3;
}

#row-1,#row-2,#row-3 {
    margin:auto;
    visibility: hidden;
    width: 100%;
    grid-column: 1/span 3;
}


#col-1 {
    grid-column: 1;
}
#col-2 {
    grid-column: 2;
}
#col-3 {
    grid-column: 3;
}

#col-1, #col-2, #col-3 {
    background: green;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 3;
    margin: auto;
    visibility: hidden;
}

#diag-main,
#diag-alt {
    visibility: hidden;
}